body {
    font-family: sans-serif;
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
}

p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
}

h1 {
    font-size: 2.75em;
    display: inline-block;
    margin: 0;
}

nav h2 {
    max-width: 77%;
}

ul {
    background-color: black;
    display: block;
    padding: 10px;
    list-style-type: none;
    box-shadow: 2px 2px 30px lime;
    clear: left;
    width: 75%
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    color: cyan;
    border: 1px solid gray;
}

a:visited {
    color: darkgray;
}

#sitelogo {
    margin-bottom: -23px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.3);
}

#content {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

html {
    background-image:url(/images/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

header {
    max-width: 100%;
}

nav {
    max-width: 40%;
}

main {
    max-width: 60%;
}

footer {
    align-self: flex-end;
    width: 100%;
    text-align: center;
}
