/*Change the CSS box model*/
html *{
    box-sizing: border-box;
}
/*Used to make sure that anything outside of the regular box model gets the same sizing effects*/
*:before, *:after{
    box-sizing: border-box;
}

p, h1 {
    color: white;
    padding: 0;
    border: 5px solid #FFFFFF;
    margin: 0;
    width: 400px;
}

#suximage {
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 95%;
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
}

footer {
    margin: 0;
    padding: 0;
}
