/*Change the CSS box model*/
html *{
    box-sizing: border-box;
}
/*Used to make sure that anything outside of the regular box model gets the same sizing effects*/
*:before, *:after{
    box-sizing: border-box;
}
/*===================================================================================================================================================================
================================================================================================================================================================================================================================================ Default CSS Code ======================================================================== ========================================================================================================================================================================================================================================================================================================================================*/
html {
    background-color: #555;
    color: lightgray;
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: serif;
}
#content {
    max-width: 960px;
    margin: 0 auto;
}
img {
    width: 100%;
}
.bar {
    font-size: 1.5em;
}
a#alerts {
    font-size: 140%;
    padding: 0;
}
#logo {
    float: left;
    width: 10%;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 3px;
}
#banner {
    margin: 0px;
    padding: 3px 0px;
    background-color: black;
    border: 3px solid black;
    width: 100%;
}
#city {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
}
#top-nav ul li {
    display: inline;
}
#top-nav ul li a {
    font-size: 96%;
}
nav li a:hover {
    color: black;
}
nav li a:visited {
    color: gold;
}
#top-nav ul {
    list-style-type: none;
    margin: 3px 0px 7px 2px;
    padding: 0px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}
#searchBar {
    float: right;
    width: 30%;
}
#report {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#mobilesunIcon {
    width: 50%;
    margin-left: 50%;
    position: relative;
    bottom: 125px;
}
#sunIcon {
    width: 30%;
    float: right;
    position: relative;
    left: 80px;
    display: none;
}
a {
    color: lightgray;
    text-decoration: none;
}
#hourlytemps {
    border: 2px solid white;
    display: block;
    overflow: scroll;
    max-width: 960px;
}
#hourlytemps thead td {
    border: 1px solid white;
    padding: 0px 10px;
    text-align: center;
    height: 20px;
}
#hourlytemps tbody td {
    border: 1px solid white;
    text-align: center;
    height: 60px;
}
footer {
    clear: both;
    text-align: center;
}
section#hourly {
    display: none;
}
#weatherData {
    background-image: url(/images/sky.jpg);
    background-size: cover;
    color: white;
    padding: 0px 200px 350px 5px;
    clear: both;
    display: none;
}
#mobileWeatherData {
    background-image: url(/images/sky.jpg);
    background-size: cover;
    color: white;
    padding: 0px 10px;
}
#alerts {
    color: #a00;
    background-color: black;
    font-size: 150%;
    width: 100%;
}
#news {
    width: 70%;
    height: 450px;
    float: left;
    display: none;
}
#news-top-row {
    width: 100%;
    height: 200px;
}
#news-bottom-row {
    width: 100%;
    height: 200px;
    margin: 50px 0px;
}
#news img {
    width: 31%;
    height: 75%;
    margin: 0px 5px 10px 5px;
}
#news-top-row p {
    display: inline;
    margin: 0px 8.5%;
}
#news-bottom-row p {
    display: inline;
    margin: 0px 8.3%;
}
#sketches h3 {
    margin: 0px 6.4%;
}
#sketches {
    margin: 20px -28px;
    padding: 0px;
    float: left;
    display: none;
    text-align: center;
}
.wireframes {
    max-width: 100%;
    margin: 1%;
}
#logo2 {
    display: none;
}
#header2 {
    display: none;
}
#ad {
    display: none;
}
#bottom-nav ul li {
    display: inline;
    list-style-type: none;
}
#footer-info nav ul li {
    display: inline;
    list-style-type: none;
}

/*===================================================================================================================================================================
======================================================================================================================================================================================================================================== Media Query for Tablet Device Screens =========================================================== ========================================================================================================================================================================================================================================================================================================================================*/
@media screen and (min-width: 600px)
{
    /*Enter CSS changes for tablet device screens here*/
    section#hourly {
        display: inline-block;
    }
    #news {
        display: inline-block;
    }
    #mobileNews {
        display: none;
    }
    #banner {
        height: 70px;
        font-size: 3em;
    }
    #top-nav li a {
        font-size: 1.25em;
    }
    #mobileWeatherData {
        display: none;
    }
    #weatherData {
        display: inline-block;
        font-size: 1.25em;
        padding-bottom: 15px;
        margin: 0px 12.0em;
    }
    img {
        width: 30%;
    }
    #sunIcon {
        display: inline-block;
        margin: 0px -105px -200px 0px;
        width: 175px;
        position: relative;
        bottom: 30px;
        right: 20px;
    }
    #mobilesunIcon {
        display: none;
    }
    #mobileSketches {
        display: none;
    }
    #sketches {
        display: inline;
    }
    #sketches h3 {
        display: inline;
    }
    .bar {
        font-size: 1.75em;
    }
    a#alerts {
        font-size: 160%;
    }
    #logo {
        display: none;
    }
    #logo2 {
        display: inline-block;
        float: left;
        width: 200px;
        margin-right: -200px;
    }
    #mobileHeader {
        display: none;
    }
    #header2 {
        display: block;
    }
    #ad {
        display: block;
        float: right;
        margin: -275px 0px;
        width: 200px;
        height: 275px
    }
    #relatedNews {
        float: right;
        width: 30%;
        height: 500px;
        text-align: center;
        border: 1px solid white;
    }
    #relatedNews p {
        text-align: left;
        padding: 2px;
    }
    #wolf {
        width: 100%;
    }
}

/*===================================================================================================================================================================
======================================================================================================================================================================================================================================= Media Query for Desktop & Laptop Screens ========================================================= ========================================================================================================================================================================================================================================================================================================================================*/
@media screen and (min-width: 1025px)
{
    /*Enter CSS changes for laptop and desktop screens here*/
    section#hourly {
        display: inline-block;
    }
    #news {
        display: inline-block;
    }
    #mobileNews {
        display: none;
    }
    #banner {
        height: 100px;
        font-size: 5em;
    }
    #weatherData {
        display: inline-block;
        font-size: 1.5em;
        padding-bottom: 15px;
        margin: 0px 8em;
        padding-right: 160px;
    }
    img {
        width: 30%;
    }
    #sunIcon {
        display: inline-block;
        margin: -40px;
        width: 175px;
        position: relative;
        top: 10px;
        right: 90px;
    }
    #mobilesunIcon {
        display: none;
    }
    #mobileSketches {
        display: none;
    }
    #sketches {
        display: inline;
    }
    #sketches h3 {
        display: inline;
    }
    a#alerts {
        font-size: 180%;
    }
    #logo {
        display: none;
    }
    #logo2 {
        display: inline-block;
        float: left;
        width: 200px;
        margin-right: -184px;
    }
    #mobileHeader {
        display: none;
    }
    #header2 {
        display: block;
    }
    #ad {
        display: block;
        float: right;
        margin: -325px 0px;
        width: 200px;
        height: 325px;
    }
    top-nav li a {
        font-size: 2.0em;
    }
    #relatedNews {
        float: right;
        width: 30%;
        height: 500px;
    }
}
