/*Change the CSS box model*/
html *{
    box-sizing: border-box;
}
/*Used to make sure that anything outside of the regular box model gets the same sizing effects*/
*:before, *:after{
    box-sizing: border-box;
}
/*===================================================================================================================================================================
================================================================================================================================================================================================================================================ Default CSS Code ======================================================================== ========================================================================================================================================================================================================================================================================================================================================*/
html {
    background-color: #555;
    color: lightgray;
}
#content {
    width = 80%;
    max-width: 960px;
    margin: 0 auto;
}
img {
    width: 100%;
}
#logo {
    float: left;
    width: 10%;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 3px;
}
#banner {
    margin: 0px;
    padding: 3px 0px;
    background-color: black;
    border: 3px solid black;
    width: 100%;
}
#city {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
}
nav ul li{
    display: inline;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin-bottom: 7px;
    margin-top: 3px;
    padding: 0px 0px 0 2%;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}
#searchBar {
    float: right;
    width: 30%;
}
#report {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#mobilesunIcon {
    width: 50%;
    margin-left: 50%;
    position: relative;
    bottom: 125px;
}
#sunIcon {
    width: 30%;
    float: right;
    position: relative;
    left: 80px;
    display: hidden;
}
.wireframes {
    clear: both;
    max-width: 100%;
    margin: 0px auto;
}
a {
    color: lightgray;
    text-decoration: none;
}
#hourlytemps {
    border: 2px solid white;
    display: block;
    overflow: scroll;
    max-width: 960px;
}
#hourlytemps thead td {
    border: 1px solid white;
    padding: 0px 10px;
    text-align: center;
    height: 20px;
}
#hourlytemps tbody td {
    border: 1px solid white;
    text-align: center;
    height: 60px;
}
footer {
    clear: both;
    text-align: center;
}
section#hourly {
    display: none;
}
#weatherData {
    background-image: url(/images/sky.jpg);
    background-size: cover;
    color: white;
    padding: 0px 200px 350px 5px;
    clear: both;
    display: none;
}
#mobileWeatherData {
    background-image: url(/images/sky.jpg);
    background-size: cover;
    color: white;
    padding: 0px 10px;
}
#alerts {
    color: #a00;
    background-color: black;
    font-size: 150%;
    width: 100%;
}
#news {
    display: none;
}
#news-top-row {
    margin: 0 auto;
    display: inline;
}
#news-bottom-row {
    margin: 0 auto;
    display: inline;
}

/*===================================================================================================================================================================
======================================================================================================================================================================================================================================== Media Query for Tablet Device Screens =========================================================== ========================================================================================================================================================================================================================================================================================================================================*/
@media screen and (min-width: 600px)
{
    /*Enter CSS changes for tablet device screens here*/
    section#hourly {
        display: inline-block;
    }
    #news {
        display: block;
    }
    #mobileNews {
        display: none;
    }
    #banner {
        height: 70px;
        font-size: 3em;
    }
    #mobileWeatherData {
        display: none;
    }
    #weatherData {
        display: block;
        font-size: 2em;
    }
    img {
        width: 30%;
    }
    #logo {
        width: 60px;
        position: relative;
        top: 5px;
    }
    #sunIcon {
        display: auto;
    }
    #mobilesunIcon {
        display: none;
    }
}

/*===================================================================================================================================================================
======================================================================================================================================================================================================================================= Media Query for Desktop & Laptop Screens ========================================================= ========================================================================================================================================================================================================================================================================================================================================*/
@media screen and (min-width: 1025px)
{
    /*Enter CSS changes for laptop and desktop screens here*/
    section#hourly {
        display: inline-block;
    }
    #news {
        display: block;
    }
    #mobileNews {
        display: none;
    }
    #banner {
        height: 100px;
        font-size: 5em;
    }
    #weatherData {
        display: block;
        font-size: 2em;
        padding-bottom: 350px;
    }
    img {
        width: 30%;
    }
    #logo {
        width: 75px;
        position: relative;
        top: 12px;
    }
    #sunIcon {
        display: block;
    }
    #mobilesunIcon {
        display: none;
    }
}
